<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Formulaire de demande</h3>
      <br />
      <form>
        <h5>Informations de contact</h5>
        <br />
       
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Nom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="email" placeholder="Jean Dupont">
          </div>
        </div>
        
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="email" placeholder="jean.dupont@aphp.fr">
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Service & Hôpital</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="email" placeholder="Réanimation Cochin">
          </div>
        </div>

        <hr />
        <h5>Informations sur la demande</h5>
          <div class="form-group row">
            <div class="col-sm">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Merci d'expliquer ici votre besoin sanitaire urgent et autres informations qui vous semblent importantes."></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mb-3">Envoyer la demande</button>
        
      </form>
    </div>
  </div>
</div>
