<title>COVID3D APHP: Impression 3D pour la crise COVID</title>
<meta name="description"
  content="Fédération des initiatives de conception et d’impression 3D pour lutter contre le COVID-19 en Île-de-France" />
<meta name="keywords" content="COVID3D, COVID, Impression 3D, APHP" />

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>