<section class="jumbotron text-center">
  <div class="container">
    <h1>Soignant</h1>
    <p class="lead text-muted">
      Vous avez un besoin urgent d'un dispositif médical. Contactez l'un de nos groupes de travail ou formulez une demande spécifique à <%= mail_to "3d.covid@aphp.fr", "3d.covid@aphp.fr", subject: "Demande spéciale" %>.
    </p>
  </div>
</section>
