<section class="jumbotron text-center">
  <div class="container">
    <h1>Conseil scientifique</h1>
    <p class="lead text-muted">
      Le conseil scientifique évalue les dispositifs proposés par les groupes de travail et valide leur mise en fabrication par notre plateforme et nos relais industriels.
    </p>
  </div>
</section>

