<section class="jumbotron text-center">
  <div class="container">
    <h1>Collaboration</h1>
    <p class="lead text-muted">
    </p>
  </div>
</section>

<div class="row">
  <div class="col">
    <p>
      Les fichiers STL développés dans le cadre du projet 3DCovid sont disponibles en libre-accès et sont libres de
      droits.
    </p>
    <p>
      Certains modèles sont validés comme dispositifs médicaux d'urgence pour l'APHP, d'autres sont au stade de
      prototype en
      cours d'évaluation clinique. Les détails sur chaque modèle sont fournis dans la fiche correspondante (Section
      Projets).
    </p>
    <p>
      Ces modèles peuvent être utilisés par des professionnels de santé de France et d'ailleurs, dans le respect des
      mesures
      règlementaires en vigueur sur leur lieu de travail.
    </p>
    <p>
      Les prototypes de 3DCovid ont été optimisés pour correspondre aux caractéristiques des imprimantes de la ferme de
      Port-Royal (Stratasys F120, F170 et F370, technologie FDM) : ces modèles peuvent ne pas être optimaux pour
      d'autres
      types d'imprimantes, y compris des imprimantes FDM d'autres fabricants.
    </p>
    <p>
      L'objectif de 3DCovid est de fournir des dessins de dispositifs médicaux de crise au plus grand nombre, pour
      répondre
      aux besoins sanitaires de crises comme l'épidémie de Covid19.
    </p>
  </div>
</div>
