<section class="jumbotron text-center">
  <div class="container">
    <h1 class="">Contact</h1>
    <p class="lead text-muted">Veuillez nous contacter pour toute information à l'adresse <%= mail_to "3d.covid@aphp.fr" %>.</p>
  </div>
</section>

<div class="card-deck">
  <div class="card mb-6 box-shadow">
    <%= image_tag("contact/port-royal-1.jpg", height: '400px', class: "card-img-top rounded") %>
    <div class="card-body">
      <p class="card-text text-center">Vue du cloître de Port-Royal</p>  
    </div>
  </div>
  <div class="card mb-6 box-shadow">
    <%= image_tag("contact/port-royal-2.jpg", height: '400px', class: "card-img-top rounded") %>
    <div class="card-body">
      <p class="card-text text-center">Vue intérieure de la salle Capitulaire</p>  
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card mb-6 box-shadow">
    <div class="card-body">
    <h5 class="card-title text-center">Adresse</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Salle capitulaire</b></li>
    <li class="list-group-item">Abbaye de Port-Royal - Hôpital Cochin</li>
    <li class="list-group-item">123 boulevard de Port-Royal</li>
    <li class="list-group-item">75014 Paris</li>
  </ul>
  </div>
  <div class="card mb-6 box-shadow">
    
  </div>
</div>
