<section class="jumbotron text-center">
  <div class="container">
    <h1>Commission scientifique</h1>
    <p class="lead text-muted">Voic notre commission scientifique chargée de valider les projets.</p>
  </div>
</section>

<h3>
  Coordination du réseau: Roman Hossein Khonsari roman.khonsari@aphp.fr
</h3>

Composition du comité

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Profession</th>
      <th scope="col">Mail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Cécile Monteil</th>
      <td>médecin, Hôpital Robert-Debré</td>
      <td><%= mail_to "cecile.monteil@aphp.fr" %></td>
    </tr>
    <tr>
      <th scope="row">Cécile Monteil</th>
      <td>médecin, Hôpital Robert-Debré</td>
      <td><%= mail_to "cecile.monteil@aphp.fr" %></td>
    </tr>
    
  </tbody>
</table>
