<h1>RACE 2 BREATHE</h1>
<h2>
  A crowd driven initiative to combat COVID-19
</h2>
<p class="lead">
Race 2 Breathe is an initiative that aims to connect and tool people globally to help combat the current COVID-19 crisis. Our goal is to build a network with medics, 3D print designers and Printer owners and Companies that deliver 3d printed equipments for hospitals. In an effort to make sure hospitals globally keep having access to these much needed supplies.
Our aim is to build the platform needed for all individuals to collaborate, produce and deliver. 
</p>

<p>

</p>