<section class="jumbotron text-center">
  <div class="container">
    <h1 class="">Fabricants & Ingénieurs !</h1>
    <p class="lead text-muted">
      Nous avons besoin de vos compétences, mettez-vous en lien avec nos deux sites partenaires.
    </p>
  </div>
</section>

<div class="card-deck">
  <div class="card bg-light">
    <%= link_to "https://app.jogl.io/program/opencovid19" do %>
      <%= image_tag("logos/logo-JOGL.png", class: "card-img-top", alt: "JOGL") %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to "https://app.jogl.io/program/opencovid19" do %>
          Participez à la R&D - JOGL.io
        <% end %>
      </h5>
      <p class="card-text">
        Just One Giant Lab (JOGL) est le premier laboratoire de recherche et d'innovation fonctionnant comme une
        plate-forme de mobilisation massive, ouverte et distribuée pour la résolution collaborative de problématiques
        d'intérêt général.
      </p>
    </div>
  </div>
</div>
