<section class="jumbotron text-center">
  <div class="container">
    <h1>Presse</h1>
    <p class="lead text-muted">
      Voici les publications concernant notre initiative COVID3D
    </p>
  </div>
</section>

<ul class="list-unstyled">
  <li class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Libération</h5>
      <%= link_to "Article Libération", "https://www.liberation.fr/france/2020/03/30/coronavirus-l-impression-3d-a-la-rescousse-de-l-hopital-public_1783294" %>
    </div>
  </li>

  <li class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">France TV Info</h5>
      <%= link_to "Emission France TV", "https://www.francetvinfo.fr/replay-radio/nouveau-monde/limpression-3d-au-service-de-la-lutte-contre-le-covid-19_3870949.html" %>
    </div>
  </li>

  <li class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Le Figaro</h5>
      <%= link_to "Article Figaro", "https://www.lefigaro.fr/a-paris-une-batterie-d-imprimantes-3d-pour-endiguer-le-coronavirus-20200403" %>
    </div>
  </li>

  <li class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">TF1 - 13h & 20h</h5>
      <%= link_to "Journal TF1", "https://www.tf1.fr/tf1/jt-20h/videos/replay" %>
    </div>
  </li>
  <li class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">BFMTV</h5>
    </div>
  </li>
  <li class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">France 2</h5>
    </div>
  </li>
  <li class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">RMC</h5>
    </div>
  </li>
</ul>