<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupe de travail Poignée</h1>
    <p class="lead text-muted">
    </p>
  </div>
</section>

<div class="container">
  <div class="card-group">
    <div class="card">
      <%= mail_to "jeremy.adam@bone3d.fr" do %>
        <div class="card-body">
          <h5 class="card-title">Ingénieur, soignant ou fabriquant</h5>
          <p class="card-text">Vous avez développé un poignée sans contact. Vous pouvez nous présenter votre projet et rejoindre le groupe de travail Poignée.</p>
        </div>
      <% end %>
    </div>
    <div class="card">
      <%= mail_to "jeremy.adam@bone3d.fr" do %>
        <div class="card-body">
          <h5 class="card-title">Soignant</h5>
          <p class="card-text">Vous avez besoin de poignées sans contact, contactez le groupe de travail Poignée.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>