<section class="jumbotron text-center">
  <div class="container">
    <h1>Vous avez besoin de poignées sans contact</h1>
    <p class="lead text-muted">
    </p>
  </div>
</section>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <%= mail_to "3d.covid@aphp.fr" do %>
        <div class="card-body">
          <h5 class="card-title btn btn-primary btn-lg">Contactez notre plateforme de production</h5>
          <br>
          <%= image_tag("logo-APHP.gif", height: 80, class: "card-img-left") %>
          <p class="card-text"></p>
        </div>
      <% end %>
    </div>
    <div class="card">
      <%= image_tag("poignee-1.jpeg", width: 200) %>
      <%= image_tag("poignee-2.jpeg", width: 200) %>
    </div>
  </div>
</div>