<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupe de travail Pousse-seringue</h1>
    <p class="lead text-muted">
      Nous voulons développer un modèle opensource de pousse-seringue dont l'ensemble de la partie non motorisée sera
      imprimable en 3D.
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= mail_to "souhayl.dahmani@gmail.com", cc: "3d.covid@aphp.fr",
        subject: "Demande de pousse-seringue" do %>
      <h5 class="card-title btn btn-primary btn-lg">Contactez notre groupe de travail</h5>
      <% end %>
      <br />
      <%= image_tag("logos/logo-APHP.gif", width: '100%', class: "card-img-left", alt: "AP-HP") %>
    </div>

    <div class="col-sm">
      <%= image_tag("projets/pousse-seringue-1.jpg", width: '100%', alt: "Pousse-seringue 3D") %>
    </div>
  </div>
</div>
