<section class="jumbotron text-center">
  <div class="container">
    <h1>Monture de lunettes de protection</h1>
    <p class="lead text-muted">
      Les lunettes de protection sont composées d'une monture souple en U et d'une visière transparente.
      Nous produisons l'armature de ces lunettes.
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= mail_to "3d.covid@aphp.fr" do %>
      <div class="card-body">
        <h5 class="card-title btn btn-primary btn-lg">Contactez notre plateforme de production</h5>
        <br>
        <%= image_tag("logos/logo-APHP.gif", width: '100%', class: "card-img-left", alt: "AP-HP") %>
        <p class="card-text"></p>
      </div>
      <% end %>
    </div>
    <div class="col-sm">
      <%= image_tag("projets/lunettes-protection-1.jpeg", class: "card-img-top", alt: "Monture de lunettes de protection 3D") %>
    </div>
  </div>
</div>
