<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupe de travail Bouclier nasal</h1>
    <p class="lead text-muted">
      Les boucliers nasaux servent à limiter les risques d'escarres liés aux masques FPP2 dans la zone du nez.
      COVID3D imprime des moules en résines dans lesquels du silicone médical est injécté pour former le bouclier.
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Le groupe de travail est dirigé par le docteur Nicolas Kogane :
      <%= mail_to "nikogane@gmail.com", cc: "3d.covid@aphp.fr", subject: "Groupe de travail Bouclier nasal" do %>
      nikogane@gmail.com
      <% end %>
    </div>
  </div>
</div>