<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupe de travail Intubation</h1>
    <p class="lead text-muted">
      Certains composants des dispositifs d'intubation sont à usage unique. COVID3D travaille à produire ces dispositifs
      afin d'anticiper les demandes.
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Le groupe de travail Intubation est en cours de constitution, dans l'intervalle vous pouvez nous
      <%= mail_to "jacques.de-montblanc@aphp.fr", cc: "3d.covid@aphp.fr", subject: "Groupe de travail Intubation" do %>
      contacter.
      <% end %>
    </div>
  </div>
</div>