<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupe de travail Intubation</h1>
    <p class="lead text-muted">
    Ce groupe est consacré aux dispositifs d'intubation à usage unique comme les laryngoscopes et les glottiscopes.
    </p>
  </div>
</section>

<div class="container">
  Le groupe de travail Intubation est en cours de constitution, dans l'intervalle vous pouvez nous 
  <%= mail_to "jacques.de-montblanc@aphp.fr", cc: "3d.covid@aphp.fr", subject: "Groupe de travail Intubation" do %>
    contacter.
  <% end %>
</div>
