<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupe de travail Masque</h1>
    <p class="lead text-muted">
    </p>
  </div>
</section>

<div class="container">
  Le groupe de travail Masque est en cours de constitution, dans l'intervalle vous pouvez contacter <%= mail_to "roman.khonsari@aphp.fr" %>
</div>
