<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupe de travail Poignée</h1>
    <p class="lead text-muted">
    </p>
  </div>
</section>

<div class="container">
  <p>Pour présenter votre projet et rejoindre le groupe de travail Poignée vous pouvez contacter :</p>
  <ul>
    <li><%= mail_to "jeremy.adam@bone3d.fr" %></li>
  </ul>
</div>