<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupe de travail Valve</h1>
    <p class="lead text-muted">
    </p>
  </div>
</section>

<div class="container">
  Le groupe de travail Valve est en cours de constitution, dans l'intervalle vous pouvez nous 
  <%= mail_to "jean-michel.constantin@aphp.fr", cc: "3d.covid@aphp.fr,vincent.degos@aphp.fr", subject: "Groupe de travail Valve" do %>
    contacter.
  <% end %>
</div>
