<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupe de travail Filtre</h1>
    <p class="lead text-muted">
    </p>
  </div>
</section>

<div class="container">
  <div class="card-group">
    <div class="card">
      <%= mail_to "jean-michel.constantin@aphp.fr" do %>
        <div class="card-body">
          <h5 class="card-title">Ingénieur, soignant ou fabriquant</h5>
          <p class="card-text">Vous avez développé un filtre. Vous pouvez nous présenter votre projet et rejoindre le groupe de travail Filtre.</p>
        </div>
      <% end %>
    </div>
    <div class="card">
      <%= mail_to "jean-michel.constantin@aphp.fr" do %>
        <div class="card-body">
          <h5 class="card-title">Soignant</h5>
          <p class="card-text">Vous avez besoin de filtres, contactez le groupe de travail Filtre.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>