<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupe de travail Pousse-seringue</h1>
    <p class="lead text-muted">
    </p>
  </div>
</section>

<div class="container">
  <p>Pour présenter votre projet et rejoindre le groupe de travail Pousse-seringue vous pouvez contacter :</p>
  <ul>
    <li><%= mail_to "souhayl.dahmani@gmail.com" %></li>
  </ul>
</div>