<section class="jumbotron text-center">
  <div class="container">
    <h1>Soignant</h1>
    <p class="lead text-muted">Vous avez un besoin urgent d'un dispositif médical. Contactez l'un de nos groupes de travail ou formulez une demande spécifique. 
    Nos équipes feront le maximum pour produire les dispositifs qui vous font défaut au plus vite.
    </p>
  </div>
</section>

<%= render 'shared/liste_projets' %>