<section class="jumbotron text-center">
  <div class="container">
    <h1>Soignant</h1>
    <p class="lead text-muted">Vous avez un projet en cours : contactez l'un de nos groupes de travail ou proposez la création d'un nouveau groupe.
    </p>
  </div>
</section>

<%= render 'shared/liste_projets' %>