<div class="card border-dark">
  <div class="card-header">Auteur</div>
  <div class="card-body">
    <%== project.author %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Auteur: </b>
        <%= project.author %>
      </li>
      <% if project.author_url %>
        <li class="list-group-item">
          <b>Site Web de l'auteur: </b>
          <%= project.author_url %>
        </li>
      <% end %>
      <li class="list-group-item">
        <b>License: </b>
        <%= project.license %>
      </li>
    </ul>
  </div>
</div>