<section class="jumbotron text-center">
  <div class="container">
    <h1>
      Nouveau projet
    </h1>
    <p class="lead text-muted">
    </p>
  </div>
</section>

<%= render 'form', project: @project %>