// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body>.alert {
  margin-bottom: 0;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 400;
}

.navbar {
  padding: 2rem 1rem;
  .navbar-nav > .nav-item > a {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}